body {
  font-family: New Century Schoolbook, serif;
  background: url(https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_1.5/c_limit,w_1044/fl_lossy,q_auto/v1493394312/articles/2014/12/03/how-much-do-whisky-casks-really-affect-taste/141125-macallen-cask-tease_hw1wed);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 5.5em;
}

nav {
  position: fixed;
  top: 0px;
  height: 5em;
  width: 100%;
  z-index: 10;
}

h1 {
  color:#FFF5DB;
  text-align: center;
}

a {
  max-width: 10em;
}

a img {
  width: 100%;
}

.item-card h2 {
  text-align: center;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.item-show h1 {
  text-align: center;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2.5em;
}

.item-show img {
  max-height: 400px;
  align-self: center;
}

.item-card h2 a {
  color: #FFF5DB;
  text-decoration: none;
  font-size: 1.1em;
}


.item-card a:hover {
  color: #2D4262;
  text-decoration: none;
}

.merchant-card h2 a {
  color: #FFF5DB;
  text-decoration: none;
  font-size: 1.1em;
}


.merchant-card a:hover {
  color: #2D4262;
  text-decoration: none;
}


.item-card p {
  font-size: 1.5em;
}

.item-show p {
  font-size: 1.4em;
  padding-left: 5em;
  padding-right: 5em;
}

.cart-card h3 {
  grid-column: 2 / span 4;

}

.cart-card h4 {
  grid-column: 3 / span 1;
}

.cart-card h5 {
  grid-column: 4 / span 1;
}

.cart-card p {
  grid-column: 2 / span 1;
}

.merch-stats h5 {
  margin-top: 4px;
  margin-bottom: 2px;
}

.merch-stats h2 {
  text-align: center;
  grid-column: 1 / span 3;
}

.welcome {
  margin-top: 5vw;
}

.top-merchants {
  text-align: center;
}

.top-geographical {
  text-align: center;
}

.merchant-speed {
  text-align: center;
}

.merch-stats {
  width: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #FFF5DB;
  background-color: rgba(17,5,5,0.71);
  padding-bottom: 5px;
  margin-top: 5vw;
}


.merchants-container {
  display: flex;
  flex-wrap: wrap;
}
.merchant-card {
  display: flex;
  flex-direction: column;
  width: 31%;
  background-color: rgba(193,140,90,0.71);
  margin: 10px;
  border-radius: 25px;
  align-items: center;

}

.statistics {
  width: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #FFF5DB;
  background-color: rgba(17,5,5,0.71);
  padding-bottom: 5px;
  margin-top: 5vw;
}

.statistics a {
  color: #FFF5DB;
  text-decoration: none;
}

.statistics a:hover {
  color: #2D4262;
  text-decoration: none;
}

.statistics h2 {
  text-align: center;
  grid-column: 1 / span 2;
}

.statistics h3 {
  text-align: center;
}

.order-card a {
  color: #FFF5DB;
  text-decoration: none;
  font-size: 1.4em;
  align-self: center;
}

.order-card a:hover {
  color: #2D4262;
  text-decoration: none;
}

.customer-order-card a {
  color: #FFF5DB;
  text-decoration: none;
  font-size: 1.4em;
  align-self: center;
}

.customer-order-card a:hover {
  color: #2D4262;
  text-decoration: none;
}

.customer-order-card {
  display: flex;
  flex-direction: column;
  background: rgba(193,140,90,0.71);
  margin: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  border-radius: 25px;
  padding-left: 25px;
  text-align: center;
  font-size: 20px;
}

.navbar{
  height: 100%;
  background: rgba(193,140,90,1);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.nav-link{
  color: #FFF5DB;
  border-radius: 5px;
  text-align: center;
  width: 10vw;
  background: #2D4262;
}

.nav-link:hover{
  color: #642C00;
  text-decoration: none;
  background: #7895c1;
}

.logged-in-as{
  color: #2D4262;
  width: 12vw;
  max-height: 5em;
}

.five_most {
  grid-column: 1 / span 1;
  padding-left: 8em;
}

.five_least {
  grid-column: 2 / span 1;
  padding-left: 8em;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  display: flex;
  flex-direction: column;
  width: 31%;
  background-color: rgba(193,140,90,0.71);
  margin: 10px;
  border-radius: 25px;
  align-items: center;

}

.medium-image {
  align-self: center;
}

.item-show-container {
  display: flex;
  justify-content: center;
}

.item-show {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgba(193,140,90,0.71);
  margin: 10px;
  border-radius: 25px;
  align-items: center;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.info-section {
  grid-column: 2 / span 2;
}

.large-image {
  grid-column: 2 / span 1;
}

.small-image {
  grid-column: 1 / span 1;
  width: auto;
  height: 20vw;
  align-items: center;
}

.tiny-image {
  width: 15px;
  height: auto;
}

.button-section {
  grid-column: 3 / span 1;
}

.cart-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(193,140,90,0.71);
  border-radius: 25px;
  align-items: center;
}

.cart-card  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: grey 2px solid;
  border-radius: 10px;
  width: 97%;
  margin: 10px;
}

.cart-item-info {
  padding-left: 55px;
  grid-column: 2 / span 2;
  font-size: 1.2em;
}

.total {
  grid-column: 4 / span 2;
  margin-left: 25px;
  margin-bottom: 5px;
  font-size: 2vw;
}

.image-container {
  grid-column: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: ce
}

.order-card {
  display: flex;
  flex-direction: column;
  background: rgba(193,140,90,0.71);
  margin: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  border-radius: 25px;
  padding-left: 25px;
  font-size: 20px;
}
.admin-order-card {
  display: flex;
  flex-direction: column;
  background: rgba(193,140,90,0.71);
  font-size: 1.2em;
  margin: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  border-radius: 25px;
  padding-left: 25px;
}

.admin-order-card h4{
  margin-bottom: 0px;
  text-align: center;
  color: #2D4262;
}

.admin-order-card a {
  color: #FFF5DB;
  text-decoration: none;
  font-size: 1.2em;
  max-width: 100%;
}

.admin-order-card a:hover {
  color: #2D4262;
  text-decoration: none;
}

.order-card h5 {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.order-card h3 {
  color: #FFF5DB;
  text-align: center;
}

.order-item-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  border-radius: 25px;
  align-items: center;
}

.order-item-card h3 {
  grid-column: 1 / span 3;
}

.order-item-card img {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  height: 20vw;
  width: auto;
}

.order-info {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.item-info {
  grid-column: 2 / span 2;
}

.heading {
  font-size: 3em;
  color:#FFF5DB;
  text-align: center;
}

.welcome-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  color:#FFF5DB;
}

.about-site {
  grid-area: 1 / 1 / span 1 / span 1;
  background: rgba(193,140,90,0.71);
  margin: 10px;
  border-radius: 25px;
  padding-left: 25px;
  display: flex;
}

.welcome-image {
  padding-top: 3vw;
}

.about-site img {
  width: 100%;
}

.about-site p {
  font-size: 2vw;
  padding: 5px;
  padding-top: 3vw;
}

.merchant-card p {
  text-align: center;
}

.welcome-login {
  grid-area: 1 / 2 / span 1 / span 1;
  background: rgba(193,140,90,0.71);
  margin: 10px;
  border-radius: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.welcome-container h3 {
  color:#FFF5DB;
  text-align: center;
}

.welcome-login a {
  align-self: center;
  max-width: 100%;
}

.about-us {
  grid-area: 2 / 1 / span 1 / span 1;
  background: rgba(193,140,90,0.71);
  margin: 10px;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.about-us a {
  color:#FFF5DB;
}

.about-us a:hover {
  color: #2D4262;
  text-decoration: none;
}

.about-us-links {
  text-align: center;
}

.welcome-nav-section {
  grid-area: 2 / 2 / span 1 / span 1;
  background: rgba(193,140,90,0.71);
  margin: 10px;
  border-radius: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.browse-button {
  background:#2D4262;
  border-radius: 25px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  align-self: center;
  font-size: 3vw;
  width: 40vw;
  color:#FFF5DB;
  max-width: 100%;
}

.browse-button:hover {
  color: #642C00;
  text-decoration: none;
  background: #7895c1;
}

#button {
  border: none;
  background: #FFF5DB;
  align-self: center;
  color: #642C00;
  border-radius: 5px;
  padding: 2px;
  font-size: 1.2vw;
}

#button:hover {
  background: #110505;
  color: #FFF5DB;
  text-decoration: none;
}

#medium-button {
  border: none;
  background: #FFF5DB;
  align-self: center;
  color: #642C00;
  border-radius: 5px;
  padding: 2px;
  font-size: 1.7vw;
}

#medium-button:hover {
  background: #110505;
  color: #FFF5DB;
  text-decoration: none;
}
